@font-face {
    font-family: skillstation;
    src: url(../font/Helvetica.ttf);
} 
h1,h2,h3,h4,h5,p,a{
    font-family: skillstation;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* section-one styles starts here */
.nav{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #1D3557;
    position: fixed;
}
.nav-logo{
    position: absolute;
    left: 7%;
    top: 1%;
}
.nav-bar{
    position: absolute;
    left: 30%;
    display: none;
    cursor: pointer;
}
.nav-menu{
    position: absolute;
    left: 40%;
    top: 14%;
    height: 40px;
    width: 60%;
    padding: 10px;
}
.nav-menu :hover{
    cursor: pointer;
    text-decoration: none;
    color: #ED3237;
    }
.nav-menu a{
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
    font-weight: normal;
    font-size: 18px;
}
#abt{
    color: #ED3237;
}
#sign{
    border: solid 1px #ED3237;
    background-color: #ED3237;
    color:#ffffff;
    padding: 5px;
    border-radius: 10px;
    height: 60px;
}
#log{
    border: solid 1px #ED3237;
    color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    margin-left: 20px;
}
#sign:hover{
    color: #1D3557;
   }
   #log:hover{
       color: #ED3237;
        }
        /* section one styles ends here */

        /* section two styles starts here */
.bg-wrapper{
    background-image: url(../images/IMG-20200926-WA0000.jpg);
    height: 600px;
    background-size: cover;
}
#bg-text{
    padding: 10%;
}
#bg-text h2{
    font-weight: 700;
    color: #ffffff;
    font-size: 52px;
    text-align: center;
    margin-top: 8%;
}
#bg-text h4{
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}
#bg-text h5{
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}
/* section two styles ends here */

/* section three styles starts here */
.main{
 border: solid 1px;
 border-radius: 5px;
 margin-top: 30px;
 height: 200px;
 width: 950px;
 margin-left: 13%;

}
.main h2{
 text-align: center;
 margin-top: 5px;
}
.main p{
    margin-top: 20px;
    text-align: center;
}
/* section three ends here */
/* section new starts here */
.sphere{
    display: flex;
    margin-left: 13%;
    width: 950px;
    margin-top: 30px;
}
#box-1{
    width: 250px;
    height: 350px;
    border: solid 1px;
    border-radius: 5px;
    margin-left: 5px;
    
}
#box-1 img{
    margin-top: 40%;
    margin-left: 28%;
}
#box-1 h3{
    text-align: center;
    margin-top: 5px;
}
#box-1 p{
    text-align: center;
    margin-top: 30px;
}
#box-2{
    width: 250px;
    height: 350px;
    border: solid 1px;
    border-radius: 5px;
    margin-left: 90px;
}
#box-2 img{
    margin-top: 40%;
    margin-left: 28%;
}
#box-2 h3{
    text-align: center;
    margin-top: 5px;
}
#box-2 p{
    text-align: center;
    margin-top: 30px;
}
#box-3{
    width: 250px;
    height: 350px;
    border: solid 1px;
    border-radius: 5px;
    margin-left: 90px;
}
#box-3 img{
    margin-top: 40%;
    margin-left: 28%;
}
#box-3 h3{
    text-align: center;
    margin-top: 5px;
}
#box-3 p{
    text-align: center;
    margin-top: 15px;
}
/* section new ends here */
/* section four starts here */
#team{
    display: flex;
}
#head1 h2{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-top: 60px;
}
#team-img1{
    height: 400px;
    border: solid #1D3557;
    width: 300px;
    margin-left: 60%;
}
#team-img1 h4{
    font-weight: 700;
    font-size: 24px;
    margin-top: 57%;
    margin-left: 50px;
    width: 200px;
}
#team-img1 p{
    font-size: 18px;
    font-weight: 400;
    margin-left: 30px;
}
#top1{
    width: 297px;
    height: 5px;
    background-color: #1D3557;
}
#top1-img{
    border: #1D3557 solid;
    height: 150px;
    width: 150px;
    background-image: url(../images/james\ udemba\ 1.png);
    background-size: contain;
    margin: auto;
    margin-top: 5px;
    border-radius: 50%;
}
/* part2 */
#team-img2{
    height: 400px;
    border: solid #1D3557;
    width: 300px;
    margin-left: 70%;
}
#team-img2 h4{
    font-weight: 700;
    font-size: 24px;
    margin-top: 57%;
    margin-left: 40px;
    /* border: red solid; */
}
#team-img2 p{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
#top2{
    width: 297px;
    height: 5px;
    background-color: #1D3557;
}
#top2-img{
    border: #1D3557 solid;
    height: 150px;
    width: 150px;
    background-image: url(../images/olanrewaju\ samuel\ 1.png);
    background-size: contain;
    margin: auto;
    margin-top: 5px;
    border-radius: 50%;
}
/* part3 */
#team-img3{
    height: 400px;
    border: solid #1D3557;
    width: 300px;
    margin-left: 80%;
}
#team-img3 h4{
    font-weight: 700;
    font-size: 24px;
    margin-top: 57%;
    margin-left: 70px;
}
#team-img3 p{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
#top3{
    width: 297px;
    height: 5px;
    background-color: #1D3557;
}
#top3-img{
    border: #1D3557 solid;
    height: 150px;
    width: 150px;
    background-image: url(../images/WhatsApp\ Image\ 2020-09-25\ at\ 20.18\ 1.png);
    background-size: contain;
    margin: auto;
    margin-top: 5px;
    border-radius: 50%;
}
/* team2 starts here */
/* part4 */
#group{
    display: flex;
}
#row-img1{
    height: 400px;
    border: solid #1D3557;
    width: 300px;
    margin-left: 59%;
    margin-top: 5%;
}
#row-img1 h4{
    font-weight: 700;
    font-size: 24px;
    margin-top: 57%;
    margin-left: 60px;
    width: 200px;
    width: 250px;
}
#row-img1 p{
    font-size: 18px;
    font-weight: 400;
    margin-left: 30px;
    text-align: center;
}
#row1{
    width: 297px;
    height: 5px;
    background-color: #1D3557;
}
#row1-img{
    border: #1D3557 solid;
    height: 150px;
    width: 150px;
    background-image: url(../images/gbolahan\ 1.png);
    background-size: contain;
    margin: auto;
    margin-top: 5px;
    border-radius: 50%;
}
/* part5 */
#row-img2{
    height: 400px;
    border: solid #1D3557;
    width: 300px;
    margin-left: 70%;
    margin-top: 5%;
}
#row-img2 h4{
    font-weight: 700;
    font-size: 24px;
    margin-top: 57%;
    margin-left: 60px;
    width: 200px;
    width: 250px;
}
#row-img2 p{
    font-size: 18px;
    font-weight: 400;
    margin-left: 60px;
    text-align: center;
}
#row2{
    width: 297px;
    height: 5px;
    background-color: #1D3557;
}
#row2-img{
    border: #1D3557 solid;
    height: 150px;
    width: 150px;
    background-image: url(../images/ebun\ 1.png);
    background-size: contain;
    margin: auto;
    margin-top: 5px;
    border-radius: 50%;
}
/* part6 */
#row-img3{
    height: 400px;
    border: solid #1D3557;
    width: 300px;
    margin-left: 80%;
    margin-top: 5%;
}
#row-img3 h4{
    font-weight: 700;
    font-size: 24px;
    margin-top: 57%;
    margin-left: 60px;
    width: 200px;
    width: 250px;
}
#row-img3 p{
    font-size: 18px;
    font-weight: 400;
    margin-left: 30px;
    text-align: center;
}
#row3{
    width: 297px;
    height: 5px;
    background-color: #1D3557;
}
#row3-img{
    border: #1D3557 solid;
    height: 150px;
    width: 150px;
    background-image: url(../images/emmanuel\ 1.png);
    background-size: contain;
    margin: auto;
    margin-top: 5px;
    border-radius: 50%;
}
/* team2 ends here */
/* team3 starts here */
/* part7 */
#spot{
    display: flex;
}
#spot-img1{
    height: 400px;
    border: solid #1D3557;
    width: 300px;
    margin-left: 60%;
    margin-top: 5%;
}
#spot-img1 h4{
    font-weight: 700;
    font-size: 24px;
    margin-top: 57%;
    margin-left: 50px;
    width: 200px;
}
#spot-img1 p{
    font-size: 18px;
    font-weight: 400;
    margin-left: 50px;
}
#spot1{
    width: 297px;
    height: 5px;
    background-color: #1D3557;
}
#spot1-img{
    border: #1D3557 solid;
    height: 150px;
    width: 150px;
    background-image: url(../images/Ayodele\ Johnson\ Olaoluwa_\ PM\ \(4\)\ 1.png );
    background-size: contain;
    margin: auto;
    margin-top: 5px;
    border-radius: 50%;
}
/* part 8 */
#spot-img2{
    height: 400px;
    border: solid #1D3557;
    width: 300px;
    margin-left: 70%;
    margin-top: 5%;
}
#spot-img2 h4{
    font-weight: 700;
    font-size: 24px;
    margin-top: 57%;
    margin-left: 40px;
    width: 250px;
}
#spot-img2 p{
    font-size: 18px;
    font-weight: 400;
    margin-left: 50px;
}
#spot2{
    width: 297px;
    height: 5px;
    background-color: #1D3557;
}
#spot2-img{
    border: #1D3557 solid;
    height: 150px;
    width: 150px;
    background-image: url(../images/thumbnail\ 1.png );
    background-size: contain;
    margin: auto;
    margin-top: 5px;
    border-radius: 50%;
}
/* part9 */
#spot-img3{
    height: 400px;
    border: solid #1D3557;
    width: 300px;
    margin-left: 80%;
    margin-top: 5%;
}
#spot-img3 h4{
    font-weight: 700;
    font-size: 24px;
    margin-top: 57%;
    margin-left: 50px;
    width: 200px;
}
#spot-img3 p{
    font-size: 18px;
    font-weight: 400;
    margin-left: 50px;
}
#spot3{
    width: 297px;
    height: 5px;
    background-color: #1D3557;
}
#spot3-img{
    border: #1D3557 solid;
    height: 150px;
    width: 150px;
    background-image: url(../images/Caleb\ Akinola_SD\ \(6\)\ 1.png);
    background-size: contain;
    margin: auto;
    margin-top: 5px;
    border-radius: 50%;
}
/* team3 ends here */
/* team4 starts here */
/* part10 */
#pin{
    display: flex;
}
#pin-img1{
    height: 400px;
    border: solid #1D3557;
    width: 300px;
    margin-left: 100%;
    margin-top: 5%;
}
#pin-img1 h4{
    font-weight: 700;
    font-size: 24px;
    margin-top: 57%;
    margin-left: 50px;
    width: 200px;
}
#pin-img1 p{
    font-size: 18px;
    font-weight: 400;
    margin-left: 50px;
}
#pin1{
    width: 297px;
    height: 5px;
    background-color: #1D3557;
}
#pin1-img{
    border: #1D3557 solid;
    height: 150px;
    width: 150px;
    background-image: url(../images/taiwo\ 1.png);
    background-size: contain;
    margin: auto;
    margin-top: 5px;
    border-radius: 50%;
}
/* part11 */
#pin-img2{
    height: 400px;
    border: solid #1D3557;
    width: 300px;
    margin-left: 110%;
    margin-top: 5%;
}
#pin-img2 h4{
    font-weight: 700;
    font-size: 24px;
    margin-top: 57%;
    margin-left: 50px;
    width: 200px;
}
#pin-img2 p{
    font-size: 18px;
    font-weight: 400;
    margin-left: 50px;
}
#pin2{
    width: 297px;
    height: 5px;
    background-color: #1D3557;
}
#pin2-img{
    border: #1D3557 solid;
    height: 150px;
    width: 150px;
    background-image: url(../images/Fauziyat\ Omoloye_SD\ \(1\)\ 1.png);
    background-size: contain;
    margin: auto;
    margin-top: 5px;
    border-radius: 50%;
}

/* team4 ends here */
/* section four ends here */
/* section five */
#cola1 h2{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 700;
    font-size: 40px;

}
#partners{
    display: flex;
}
#btn{
    border: solid #ED3237;
    width: 200px;
    height: 50px;
    margin: auto;
    margin-top: 15px;
    background-color: #ED3237;
}
#btn a{
    color: #ffffff;
    text-decoration: none;
    padding: 8px;
    margin: 20px;

}

/* section five */
/* section six */
#footer{
    height: 390px;
    background-color: #1D3557;
    margin-top: 15px;
}

#foot1{
    margin-left: 100px;
    margin-top: 50px;
    float: left;

}
#folo{
    margin-top: 100px;
    color: white;
}

#so{
    display: flex;
    margin-top: 5px;
}
#last{
    background-color: #1D3557;
}

#sk{
    margin-left: 100px;
    color: white;
    background-color: #1D3557;
}

#cont{
    margin-left: 530px;
    display: flex;

}

#cont1 {
    margin-top: 100px;

}


#cont1 ul li{
    list-style: none;
    margin-top: 10px;
    color: white;
    font-family: skillstation;

}

#cont2 {
    margin-left: 150px;
    margin-top: 100px;


}


#cont2 ul li{
    list-style: none;
    margin-top: 10px;
    color: white;
    font-family: skillstation;


}

#cont3 {
    margin-left: 150px;
    margin-top: 100px;

}

#cont3 ul li{
    list-style: none;
    margin-top: 10px;
    color: white;
    font-family: skillstation;
    
}
/* section six ends */


        /* section one media starts here */
    @media(max-width:650px){
        .nav{
            height: 80px;
            position: fixed;
        }   
        .nav-logo{
            position: absolute;
            left: 5%;
            top: 2%;
        }
        .nav-bar{
            position: absolute;
            left: 80%;
            display: block;
            color: white;
            top: 15%;
            padding: 5px;

        }
        .nav-menu{
            position: absolute;
            left: 40%;
            top: 14%;
            height: 40px;
            width: 60%;
            z-index: +1;
            display: none;
        }
        #hom{
            margin-top: 15%;
        }
        .nav-menu a{
            text-decoration: none;
            padding: 20px;
            display: block;
            color: white;
            background-color: #ED3237;
            border-radius: 10px;
            margin-top: 10%;
        }
        .nav-menu :hover{
        cursor: pointer;
        text-decoration: none;
        color: #1D3557;
        }
        #abt{
            color: #ffffff;
        }
        #sign{
            border: solid 1px #ED3237;
            color: white;
            padding: 5px;
            border-radius: 10px;
            background-color: #ED3237;
        }
        #sign:hover{
         color: #1D3557;
        }
        #log:hover{
            color: #1D3557;
             }
        #log{
            border: solid 1px #ED3237;
            color: white;
            padding: 5px;
            border-radius: 10px;
            margin-left: 0px;
    
        }
        .empty{
            display: block;
        }
        #bg-text h2{
            margin-top: 30%;
        }
        /* section two media */
        .bg-wrapper{
            background-image: url(../images/IMG-20200926-WA0000.jpg);
            height: 600px;
            /* background-size: cover; */
        }
        /* section three media  */
        .main{
            border: solid 1px;
            margin-top: 0px;
            height: 220px;
            width: 100%;
            margin-left: 0%;
           
           }
           .main h2{
            text-align: center;
            margin-top: 5px;
           }
           .main p{
               margin-top: 20px;
               text-align: justify;
           }
           
        /* section three media ends */
        /* section new media starts here */
        .sphere{
            display: block;
            margin-left: 3%;
            width: 96%;
            margin-top: 30px;
        }
        #box-2{
            width: 250px;
            height: 350px;
            border: solid 1px;
            border-radius: 5px;
            margin-left: 1%;
            margin-top: 2%;
        }
        #box-3{
            width: 250px;
            height: 350px;
            border: solid 1px;
            border-radius: 5px;
            margin-left: 1%;
            margin-top: 2%;
        }
       /* section four media */
       /* part1 */
        #team{
            display: block;
        }
        #head1 h2{
            text-align: center;
            font-weight: 700;
            font-size: 30px;
            margin-top: 60px;
        }
        #team-img1{
            height: 400px;
            border: solid #1D3557;
            width: 100%;
            margin-left: 0%;
        }
        #team-img1 h4{
            font-weight: 700;
            font-size: 24px;
            margin-top: 38%;
            margin-left: 25%;
            width: 200px;
        }
        #team-img1 p{
            font-size: 18px;
            font-weight: 400;
            margin-left: 110px;
          
        }
        #top1{
            width: 100%;
            height: 5px;
            background-color: #1D3557;
        }
        #top1-img{
            border: #1D3557 solid;
            height: 150px;
            width: 150px;
            background-image: url(../images/james\ udemba\ 1.png);
            background-size: contain;
            margin: auto;
            margin-top: 5px;
            border-radius: 50%;
        }
        /* part2 */
        #team-img2{
            height: 400px;
            border: solid #1D3557;
            width: 100%;
            margin-left: 0%;
        }
        #team-img2 h4{
            font-weight: 700;
            font-size: 24px;
            margin-left: 30%;
            margin-top: 35%;
            width: 50%;
        }
        #team-img2 p{
            font-size: 18px;
            font-weight: 400;
            margin-left: 0%;
        }
        #top2{
            width: 100%;
            height: 5px;
            background-color: #1D3557;
        }
        #top2-img{
            border: #1D3557 solid;
            height: 150px;
            width: 150px;
            background-image: url(../images/olanrewaju\ samuel\ 1.png);
            background-size: contain;
            margin: auto;
            margin-top: 5px;
            border-radius: 50%;
        }
        /* part3 */
        #team-img3{
            height: 400px;
            border: solid #1D3557;
            width: 100%;
            margin-left: 0%;
    
        }
        #team-img3 h4{
            font-weight: 700;
            font-size: 24px;
            margin-left: 37%;
            margin-top: 35%;
            width: 200px;
        }
        #team-img3 p{
            font-size: 18px;
            font-weight: 400;
            margin-left: 0px;
          
        }
        #top3{
            width: 100%;
            height: 5px;
            background-color: #1D3557;
        }
        #top3-img{
            border: #1D3557 solid;
            height: 150px;
            width: 150px;
            background-image: url(../images/WhatsApp\ Image\ 2020-09-25\ at\ 20.18\ 1.png);
            background-size: contain;
            margin: auto;
            margin-top: 5px;
            border-radius: 50%;
        }
        /* part4 */
        #group{
            display: block;
        }
        #row-img1{
            height: 400px;
            border: solid #1D3557;
            width: 100%;
            margin-left: 0%;
            margin-top: 0%;
        }
        #row-img1 h4{
            font-weight: 700;
            font-size: 24px;
            width: 250px;
            margin-top: 34%;
            margin-left: 30%;

        }
        #row-img1 p{
            font-size: 18px;
            font-weight: 400;
            margin-left: 5px;
        }
        #row1{
            width: 100%;
            height: 5px;
            background-color: #1D3557;
        }
        #row1-img{
            border: #1D3557 solid;
            height: 150px;
            width: 150px;
            background-image: url(../images/gbolahan\ 1.png);
            background-size: contain;
            margin: auto;
            margin-top: 5px;
            border-radius: 50%;
        }
        /* part5 */
        #row-img2{
            height: 400px;
            border: solid #1D3557;
            width: 100%;
            margin-left: 0%;
            margin-top: 0%;
        }
        #row-img2 h4{
            font-weight: 700;
            font-size: 24px;
            width: 250px;
            margin-top: 34%;
            margin-left: 30%;
        }
        #row-img2 p{
            font-size: 18px;
            font-weight: 400;
            margin-left: 5px;
        }
        #row2{
            width: 100%;
            height: 5px;
            background-color: #1D3557;
        }
        #row2-img{
            border: #1D3557 solid;
            height: 150px;
            width: 150px;
            background-image: url(../images/ebun\ 1.png);
            background-size: contain;
            margin: auto;
            margin-top: 5px;
            border-radius: 50%;
        }
        /* part6 */
        #row-img3{
            height: 400px;
            border: solid #1D3557;
            width: 100%;
            margin-left: 0%;
            margin-top: 0%;
        }
        #row-img3 h4{
            font-weight: 700;
            font-size: 24px;
            margin-top: 34%;
            margin-left: 30%;
            width: 250px;
        }
        #row-img3 p{
            font-size: 18px;
            font-weight: 400;
            margin-left: 5px;
        }
        #row3{
            /* width: 99%; */
            height: 5px;
            background-color: #1D3557;
        }
        #row3-img{
            border: #1D3557 solid;
            height: 150px;
            width: 150px;
            background-image: url(../images/emmanuel\ 1.png);
            background-size: contain;
            margin: auto;
            margin-top: 5px;
            border-radius: 50%;
        }
        /* part7 */
        #spot{
            display: block;
        }
        #spot-img1{
            height: 400px;
            border: solid #1D3557;
            width: 100%;
            margin-left: 0%;
            margin-top: 0%;
        }
        #spot-img1 h4{
            font-weight: 700;
            font-size: 24px;
            margin-top: 33.5%;
            margin-left: 26%;
            width: 200px;
        }
        #spot-img1 p{
            font-size: 18px;
            font-weight: 400;
            margin-left: 28%;
            width: 50%;
        }
        #spot1{
            width: 100%;
            height: 5px;
            background-color: #1D3557;
        }
        #spot1-img{
            border: #1D3557 solid;
            height: 150px;
            width: 150px;
            background-image: url(../images/Ayodele\ Johnson\ Olaoluwa_\ PM\ \(4\)\ 1.png );
            background-size: contain;
            margin: auto;
            margin-top: 5px;
            border-radius: 50%;
        }
        /* part8 */
        #spot-img2{
            height: 400px;
            border: solid #1D3557;
            width: 100%;
            margin-left: 0%;
            margin-top: 0%;
            
        }
        #spot-img2 h4{
            font-weight: 700;
            font-size: 24px;
            width: 250px;
            margin-top: 34%;
            margin-left: 17%;
        }
        #spot-img2 p{
            font-size: 18px;
            font-weight: 400;
            margin-left: 20%;
            width: 50%;
        }
        #spot2{
            width: 100%;
            height: 5px;
            background-color: #1D3557;
        }
        #spot2-img{
            border: #1D3557 solid;
            height: 150px;
            width: 150px;
            background-image: url(../images/thumbnail\ 1.png );
            background-size: contain;
            margin: auto;
            margin-top: 5px;
            border-radius: 50%;
        }
        /* part9 */
        #spot-img3{
            height: 400px;
            border: solid #1D3557;
            width: 100%;
            margin-left: 0%;
            margin-top: 0%;
        }
        #spot-img3 h4{
            font-weight: 700;
            font-size: 24px;
            margin-top: 35%;
            margin-left: 30%;
            width: 200px;
        }
        #spot-img3 p{
            font-size: 18px;
            font-weight: 400;
            margin-left: 28%;
            width: 50%;
        }
        #spot3{
            width: 100%;
            height: 5px;
            background-color: #1D3557;
        }
        #spot3-img{
            border: #1D3557 solid;
            height: 150px;
            width: 150px;
            background-image: url(../images/Caleb\ Akinola_SD\ \(6\)\ 1.png);
            background-size: contain;
            margin: auto;
            margin-top: 5px;
            border-radius: 50%;
        }
        /* part10 */
        #pin{
            display:block;
        }
        #pin-img1{
            height: 400px;
            border: solid #1D3557;
            width: 100%;
            margin-left: 0%;
            margin-top: 0%;
        }
        #pin-img1 h4{
            font-weight: 700;
            font-size: 24px;
            margin-top: 35%;
            margin-left: 35%;
            width: 50%;
        }
        #pin-img1 p{
            font-size: 18px;
            font-weight: 400;
            margin-left: 32%;
            width: 50%;
        }
        #pin1{
            width: 100%;
            height: 5px;
            background-color: #1D3557;
        }
        #pin1-img{
            border: #1D3557 solid;
            height: 150px;
            width: 150px;
            background-image: url(../images/taiwo\ 1.png);
            background-size: contain;
            margin: auto;
            margin-top: 5px;
            border-radius: 50%;
        }
/* part11 */
#pin-img2{
    height: 400px;
    border: solid #1D3557;
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
}
#pin-img2 h4{
    font-weight: 700;
    font-size: 24px;
    margin-top: 35%;
    margin-left: 35%;
    width: 50%;
}
#pin-img2 p{
    font-size: 18px;
    font-weight: 400;
    margin-left: 35%;
    width: 50%;
}
#pin2{
    width: 100%;
    height: 5px;
    background-color: #1D3557;
}
#pin2-img{
    border: #1D3557 solid;
    height: 150px;
    width: 150px;
    background-image: url(../images/Fauziyat\ Omoloye_SD\ \(1\)\ 1.png);
    background-size: contain;
    margin: auto;
    margin-top: 5px;
    border-radius: 50%;
}

        /* section four media ends here */
/* section five media starts here */
#partners{
    display: block;
}
/* section five media ends here */
       /* section six media starts here */
       #footer{
        display: block;
        height: 500px;
    }
    #foot1{
        display: flex;
        margin-left: 7px;   
    }
    #folo{
        margin-top: 15px;
        margin-left: 5px;
        width: 130px;
        font-size: 10px;
        font-weight: 0px;
    }
    #so{
        margin-left: 0px;
        margin-top: 17px;   
    }
    #sk{
        display: block;
        margin-top: 0px;
    }
    #cont{
        display: block;
        margin-left: 0px;
    }
    #cont1{
        float: left;
    }
    #cont2{
        float: left;
        margin-left: 20px;
    }
    #cont3{
        float: left;
        margin-left: 20px;
    }
    #sk{
        display: block;
    }


    





 /* section six media ends here */
    }






    /* media at 950px */
    @media(max-width:995px){
        .nav{
            height: 80px;
            
        }   
        .nav-logo{
            position: absolute;
            left: 5%;
            top: 2%;
        }
        .nav-bar{
            position: absolute;
            left: 80%;
            display: block;
            color: white;
            top: 5%;
        }
        .nav-menu{
            position: absolute;
            left: 40%;
            top: 14%;
            height: 40px;
            width: 60%;
            z-index: +1;
            display: none;
        }
        .nav-menu a{
            text-decoration: none;
            padding: 20px;
            display: block;
            color: white;
            background-color: #ED3237;
            border-radius: 10px;
            margin-top: 1%;
        }
        .nav-menu :hover{
        cursor: pointer;
        text-decoration: none;
        color: #1D3557;
        }
        #abt{
            color: #ffffff;
        }
        #sign{
            border: solid 1px #ED3237;
            color: white;
            padding: 5px;
            border-radius: 10px;
            background-color: #ED3237;
        }
        #sign:hover{
         color: #1D3557;
        }
        #log:hover{
            color: #1D3557;
             }
        #log{
            border: solid 1px #ED3237;
            color: white;
            padding: 5px;
            border-radius: 10px;
            margin-left: 0px;
    
        }
        .empty{
            display: block;
        }
       
    }
    /* section-one media ends here */